@model List<ComptabilitePFE.Journal>

@{
    ViewBag.Title = "Index";
}

<br />

<div class="card card-success  mx-auto" style="width:90%">
    <div class="card-header">
        <h3 class="card-title"><b>Relevé de compte </b></h3>
        <a href="@Url.Action("Index","RelevéCompte")" class="btn btn-tool mt-0" style="float:right"><i class="fas fa-times"></i></a>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    <div class="card-body">
        <form action="" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">

                <div class="form-group col-md-3 form">
                    <b>Date début</b>
                    <div>
                        <input type="date" name="dateDeb" id="dateDeb" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <b>Date Fin</b>
                    <div>
                        <input type="date" name="dateFin" id="dateFin" class="form-control" />
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="pieceComptable_CodeJournal">CodeJournal</label>
                    <div class="col-md-10">

                        <select class="form-control CodeJournal" id="pieceComptable_CodeJournal" name="pieceComptable.CodeJournal">
                            @foreach (var journal in Model)
                            {
                                <option value="@journal.CodeJournal">@journal.Libelle</option>
                            }
                        </select>

                        <span class="field-validation-valid text-danger" data-valmsg-for="pieceComptable.CodeJournal" data-valmsg-replace="true"></span>
                    </div>
                </div>

            </div>
            <div class="row" style="float:right">
                <div class="col-md-offset-2 col-md-10">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success" id="submitButton" value="Create">Valider</button>
                    </div>

                </div>
            </div>
        </form>
        <div class="card-footer">

        </div>
    </div>
</div>
<script>
    $(document).on('click', '#submitButton', function () {

        if (validateForm()) {


            var datedu = $('#dateDeb').val();
            var datefin = $('#dateFin').val();
            var codeJournal = $('#relever_CodeJournal').val();

            $.ajax({
                url: '/RelevéCompte/ListRelever',
                type: 'post',
                data: {
                    datedu,
                    datefin,
                    codeJournal
                },
            });
        }

    });
</script>
